<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<link rel="stylesheet" href="style.css">
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%"> 

<a href="https://192.168.2.142:80/updateNationality.html" class="w3-bar-item w3-button w3-light-grey" id="b2" value="Update Nationality">Update Nationality</a>
<a href="https://192.168.2.142:80/updatePassword.html" class="w3-bar-item w3-button w3-light-grey" id="b2" value="Update Password">Update Password</a>
<a href="https://192.168.2.142:80/updateAddress.html" class="w3-bar-item w3-button w3-light-grey" id="b2" value="Update Address">Update Address</a>
<a href="https://192.168.2.142:80/updatePhno.html" class="w3-bar-item w3-button w3-light-grey" id="b2" value="Update Phone Number">Update Phone Number</a>





</body>
</html>
