

<form method=post action="/entermailforgotpassword">
Enter Email:<input type=email name="forgotpswdemail">
Enter DOB:<input type=date name="forgotpswdDOB"><br><br>

<input type="radio" name="usertype" value="1" required >Regular Employee<br><br>
<input type="radio" name="usertype" value="2" required >System manager<br><br>
<input type="radio" name="usertype" value="3" required >System admin<br><br>
<input type="radio" name="usertype" value="4" required >Individual User<br><br>
<input type="radio" name="usertype" value="5" required >Merchant<br><br>

	

<input type=submit value="Submit">
</form>
