<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <%if(userid!=null&&sessionid!=null){%>
<!DOCTYPE html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<link rel="stylesheet" href="style.css">
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">

    
<a href="https://192.168.2.142:80/makeTransactionejs" class="w3-bar-item w3-button w3-light-grey" id="b2" value="Transfer Money">Transfer Money</a>
   
<a href="https://192.168.2.142:80/merchantTransactionejs" class="w3-bar-item w3-button w3-light-grey" id="b2" value="ViewMessages">Pay to Merchant</a>
    
<a href="https://192.168.2.142:80/update.html" class="w3-bar-item w3-button w3-light-grey" id="b2" value="Transfer Money">Update Personal Info</a>
   
<a href="https://192.168.2.142:80/requests" class="w3-bar-item w3-button w3-light-grey" id="b2" value="Transfer Money">Requests</a>
   
<a href="https://192.168.2.142:80/create_account" class="w3-bar-item w3-button w3-light-grey" id="b2" value="Transfer Money">CreateNewAccount</a>
    
<a href="https://192.168.2.142:80/view_msg" class="w3-bar-item w3-button w3-light-grey" id="b2" value="ViewMessages">View Messages</a>
    
<a href="https://192.168.2.142:80/download_statements" class="w3-bar-item w3-button w3-light-grey" id="b2" value="ViewMessages">PrintLog</a>
<a href="https://192.168.2.142:80/logoutiu" class="w3-bar-item w3-button w3-light-grey" id="lo" value="logoutre">Logout</a>

<%}%>

</body>
</html>
<script>

window.onload = function () { history.forward(); }
window.onunload = function() {};
$(document).ready(function() {
  $('#lo').click(function() {
    $.ajax({
      type: 'POST',
      data: 'id=17446&chru=0',
      success: function() { ... },
      error: function(){ ... },
      url: 'logoutiu',
      cache:false
    });
  });
  return false;
});
</script>
